{% extends 'base.html.twig' %}

{% block title %}Thomas Biendicho - Portfolio
{% endblock %}

{% block body %}

	<div class="main-block presentation">
		<div class="title d-flex flex-xl-row flex-column">
			<div class="main-block-left flex-lg-fill">
				<h1 class="name">Thomas Biendicho</h1>
				<h1 class="job">Développeur Web & Web mobile</h1>
			</div>

			<div class="main-block-right">
				<img class="photo" src="{{ asset('img/photo.png')}}" alt="">
			</div>
		</div>
		<div>
			<div>
				<p>
					<a class="choice" href="#soft-skills">
						Mon profil
					</a>
				</p>
			</div>
			<hr class="line">
			<div>
				<p>
					<a class="choice" href="#projects" uk-scroll>
						Mes projets
					</a>
				</p>
			</div>
			<hr class="line">
			<div>
				<p>
					<a class="choice" href="#knowledge" uk-scroll>
						Mes compétences
					</a>
				</p>
			</div>
			<hr class="line">
			<div>
				<p>
					<a class="choice" href="#contact">
						Mes coordonnées
					</a>
				</p>
			</div>
			<hr class="line">
			<div>
				<p>
					<a class="last-choice" href="#soft-skills">
						Mon CV
					</a>
				</p>
			</div>
		</div>
	</div>

</div>

<div id="projects" class="block block-projects">

	<h2>Mes projets</h2>

	<div class="row projects d-flex justify-content-sm-between">
		<div class="col-xl-4 col-sm-12 current-project d-flex justify-content-around">
			<div class="card project" style="width: 30rem;">
				<div class="img">
					<img src="{{ asset('img/myas.jpg')}}" class="card-img-top" alt="...">
				</div>
				<div class="card-body d-flex flex-column justify-content-center">
					<p class="card-title">MYAS Gallery</p>
					<p class="card-text">MYAS Gallery est une galerie d'art itinérante, dont le site a été réalisé dans le cadre du projet de fin de ma formation chez O'Clock. J'ai pour ma part réalisé le Backoffice en binôme</p>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-sm-12 current-project d-flex justify-content-around">
			<div class="card project" style="width: 30rem;">
				<div class="img">
					<img src="{{ asset('img/test.svg')}}" class="card-img-top" alt="...">
				</div>
				<div class="card-body d-flex flex-column justify-content-center">
					<p class="card-title">Learn Or Laught</p>
					<p class="card-text">Learn Or Laught est un générateur d'anecdotes et de blagues, faisant appel à une API publique ainsi qu'à une API créée pour l'occasion.</p>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-sm-12 current-project d-flex justify-content-around">
			<div class="card project" style="width: 30rem;">
				<div class="img">
					<img src="{{ asset('img/test2.svg')}}" class="card-img-top" alt="...">
				</div>
				<div class="card-body d-flex flex-column justify-content-center">
					<p class="card-title">TO DO List</p>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="soft-skills" class="block soft-skills">
	<h2>Mon parcours</h2>
	<p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum officia nostrum reprehenderit molestiae aspernatur animi iste similique eaque inventore velit hic distinctio quidem commodi, sequi molestias error explicabo ea vero alias? Nulla expedita quam fugit dicta ex architecto ducimus, iste, voluptates pariatur ipsam modi rerum ad beatae mollitia laboriosam nesciunt aliquid hic doloribus ratione! Fugit dolor sit suscipit odit facere similique tempore facilis deleniti nam maxime, deserunt magnam voluptatem animi consequuntur. Consectetur illum quibusdam odit! Exercitationem, cum voluptatem ipsam mollitia quod officiis reiciendis, pariatur delectus veniam ex, cupiditate dicta dolor natus ab quos? Deleniti at dolorem magnam sed cum sint? Nisi asperiores ipsa magnam rerum dignissimos corrupti voluptatibus deserunt, provident dicta excepturi et aspernatur neque doloribus mollitia dolor eligendi non obcaecati! Natus recusandae accusamus consequuntur debitis eveniet veritatis quod culpa doloribus at dolorem repellat, necessitatibus impedit blanditiis, tempora suscipit odit laboriosam maxime incidunt! Doloremque quidem harum cupiditate officia, sunt facere itaque asperiores facilis, nobis distinctio quos excepturi nihil molestiae quod autem, fugit recusandae iusto magni? Cum possimus quisquam quibusdam nemo ipsa animi esse alias ipsam, facere veniam et, eligendi fugit facilis incidunt eos voluptates voluptatem. Inventore fugiat ea, nobis placeat veniam illo ducimus dignissimos porro deleniti voluptates, provident illum, perferendis maxime libero blanditiis. Non, in voluptatibus magni hic rerum beatae ipsum itaque necessitatibus, distinctio totam autem assumenda eveniet animi ullam sequi? Quod esse temporibus exercitationem tempora, error eum velit ex nostrum aliquid laudantium accusantium ab distinctio similique, atque perferendis nemo quae odit sed praesentium, ea consequuntur quas voluptate. Excepturi, blanditiis. Ullam pariatur in quia temporibus voluptatibus soluta corporis quod quis voluptatum minima ab porro repellendus libero, at neque beatae ducimus est tenetur quae. Dolorem, voluptatem maxime? Fugiat quis labore ratione facilis blanditiis ipsam ipsa saepe, praesentium sed voluptas minima pariatur ea officia a itaque eius illo. Laborum officia, officiis fugiat soluta itaque reiciendis dolorum eligendi dolor illum blanditiis natus eius sed dolore atque, assumenda cupiditate doloremque eum ducimus animi quos quidem quis? Eaque dicta vero enim quos obcaecati cumque repellendus! Saepe id debitis fugit dolorum esse voluptates quos asperiores velit, sapiente vel est alias aspernatur voluptatem dolor nobis obcaecati eveniet voluptate quaerat deleniti corporis perspiciatis vitae pariatur iste. Eveniet obcaecati vitae sapiente vero maxime autem culpa tempore alias sunt beatae omnis aspernatur suscipit non amet, aliquid nisi ducimus distinctio impedit in asperiores ea nostrum. In totam enim, laborum esse consequuntur quasi placeat aut expedita iste, at ut quam aperiam aspernatur?</p>
</div>

<div id="knowledge" class="block knowledge">
	<h2>Mes compétences techniques</h2>
	<p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum officia nostrum reprehenderit molestiae aspernatur animi iste similique eaque inventore velit hic distinctio quidem commodi, sequi molestias error explicabo ea vero alias? Nulla expedita quam fugit dicta ex architecto ducimus, iste, voluptates pariatur ipsam modi rerum ad beatae mollitia laboriosam nesciunt aliquid hic doloribus ratione! Fugit dolor sit suscipit odit facere similique tempore facilis deleniti nam maxime, deserunt magnam voluptatem animi consequuntur. Consectetur illum quibusdam odit! Exercitationem, cum voluptatem ipsam mollitia quod officiis reiciendis, pariatur delectus veniam ex, cupiditate dicta dolor natus ab quos? Deleniti at dolorem magnam sed cum sint? Nisi asperiores ipsa magnam rerum dignissimos corrupti voluptatibus deserunt, provident dicta excepturi et aspernatur neque doloribus mollitia dolor eligendi non obcaecati! Natus recusandae accusamus consequuntur debitis eveniet veritatis quod culpa doloribus at dolorem repellat, necessitatibus impedit blanditiis, tempora suscipit odit laboriosam maxime incidunt! Doloremque quidem harum cupiditate officia, sunt facere itaque asperiores facilis, nobis distinctio quos excepturi nihil molestiae quod autem, fugit recusandae iusto magni? Cum possimus quisquam quibusdam nemo ipsa animi esse alias ipsam, facere veniam et, eligendi fugit facilis incidunt eos voluptates voluptatem. Inventore fugiat ea, nobis placeat veniam illo ducimus dignissimos porro deleniti voluptates, provident illum, perferendis maxime libero blanditiis. Non, in voluptatibus magni hic rerum beatae ipsum itaque necessitatibus, distinctio totam autem assumenda eveniet animi ullam sequi? Quod esse temporibus exercitationem tempora, error eum velit ex nostrum aliquid laudantium accusantium ab distinctio similique, atque perferendis nemo quae odit sed praesentium, ea consequuntur quas voluptate. Excepturi, blanditiis. Ullam pariatur in quia temporibus voluptatibus soluta corporis quod quis voluptatum minima ab porro repellendus libero, at neque beatae ducimus est tenetur quae. Dolorem, voluptatem maxime? Fugiat quis labore ratione facilis blanditiis ipsam ipsa saepe, praesentium sed voluptas minima pariatur ea officia a itaque eius illo. Laborum officia, officiis fugiat soluta itaque reiciendis dolorum eligendi dolor illum blanditiis natus eius sed dolore atque, assumenda cupiditate doloremque eum ducimus animi quos quidem quis? Eaque dicta vero enim quos obcaecati cumque repellendus! Saepe id debitis fugit dolorum esse voluptates quos asperiores velit, sapiente vel est alias aspernatur voluptatem dolor nobis obcaecati eveniet voluptate quaerat deleniti corporis perspiciatis vitae pariatur iste. Eveniet obcaecati vitae sapiente vero maxime autem culpa tempore alias sunt beatae omnis aspernatur suscipit non amet, aliquid nisi ducimus distinctio impedit in asperiores ea nostrum. In totam enim, laborum esse consequuntur quasi placeat aut expedita iste, at ut quam aperiam aspernatur?</p>
</div>

<div id="contact" class="block contact">
	<h2>Mes coordonnées</h2>
	<p>Téléphone</p>
	<p>Mail</p>
	<p>Présentation</p>
</div>{% endblock %}
